<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="height: 100px; font-size: x-large"
>
  <div class="container-fluid">
    <img
      src="../../assets/img/logo1.png"
      alt="Logo can't be loaded"
      height="90px"
    />&nbsp;
    <a class="navbar-brand" href="#" style="font-size: x-large"
      >The Food Ordering Application</a
    >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="register"
            >REGISTER</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="login"
            >LOGIN</a
          >
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="manager"
              >Manager Dashboard</a>
          </li> -->
      </ul>
    </div>
  </div>
</nav>

<div
  class="jumbotron"
  style="
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../../assets/img/back.jpg);
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
  "
>
  <div class="jumbotron-text" style="margin-top: 50px; font-size: x-large">
    <img
      src="../../assets/img/logo1.png"
      alt="Logo can't be loaded"
      height="150px"
    />
    <br /><br />
    <h1>WELCOME TO FOODAVO</h1>
    <br />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum quisquam
      at inventore deleniti debitis. Quae inventore, magnam, mollitia eius
      temporibus quia repellendus dolores in illo, vero alias explicabo cumque
      iste! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
      obcaecati voluptatem laborum sed? Quos nihil qui nulla voluptatem, animi
      odit ipsam asperiores ratione reprehenderit quo commodi perferendis ipsum,
      adipisci unde. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Odit error id quae consequuntur, ab est sed reprehenderit odio deleniti
      molestias, itaque dolore quisquam minima illum delectus quasi, adipisci
      tenetur perferendis?
    </p>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4" style="margin: 20px">
  <div class="col">
    <div class="card">
      <img
        src="../../assets/img/homepageSamplePic.jpg"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img
        src="../../assets/img/homepageSamplePic.jpg"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img
        src="../../assets/img/homepageSamplePic.jpg"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img
        src="../../assets/img/homepageSamplePic.jpg"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img
        src="../../assets/img/homepageSamplePic.jpg"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content.
        </p>
      </div>
    </div>
  </div>
</div>

<footer class="text-center text-white" style="background-color: #caced1">
  <div
    class="text-center text-dark p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2022 Copyright:
    <a class="text-dark" href="#">Developed by Group 1</a>
  </div>
</footer>
