<div
  class="jumbotron"
  style="
    padding: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url(../../assets/img/back.jpg);
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
  "
>
  <div class="jumbotron-text" style="margin-top: 20px; font-size: x-large">
    <img
      src="../../assets/img/logo1.png"
      alt="Logo can't be loaded"
      height="150px"
    />
    <h1>WELCOME TO THE WORLD OF FOODAVO</h1>
    <p>
      We are the leading delivery platform in the India for food, groceries and
      much, much more. Whether it's a family size pizza, the finest sushi in
      town or groceries and other household items, our Riders will pick it up
      and deliver it straight to you- It's as easy as that!
    </p>
    <div style="text-align: center">
      <button
        type="button"
        class="btn btn-outline-secondary"
        style="color: white; font-size: x-large"
        (click)="checkIfLogin()"
      >
        Already Have an Account?</button
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button
        type="button"
        class="btn btn-outline-secondary"
        style="color: white; font-size: x-large"
        routerLink="register"
      >
        Wish to Create an Account?
      </button>
    </div>
  </div>
</div>

<div class="row row-cols-3 row-cols-md-3 g-3" style="margin: 20px">
  <div class="col">
    <div class="card">
      <img
        src="../../assets/img/i1.png"
        class="card-img-top"
        alt=""
        height="400px"
      />
      <div class="card-body">
        <h5 class="card-title">Get the Top Quality Food</h5>
        <p class="card-text">
          We partner with the coolest/best spots in your city. Because that's
          what we're all about.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img
        src="../../assets/img/i2.png"
        class="card-img-top"
        alt=""
        height="400px"
      />
      <div class="card-body">
        <h5 class="card-title">Order at your own Convenience</h5>
        <p class="card-text">
          Save time with delivery or order ahead and skip the fees with pickup.
          You can schedule orders for later, too.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img
        src="../../assets/img/i4.png"
        class="card-img-top"
        height="400px"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">Save money with Foodavo Premium Pass</h5>
        <p class="card-text">
          Foodavo Premium Pass is a subscription service that gets you provide
          you with no delivery fees as well as lower service fees.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="jumbotron"
  style="
    padding: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url(../../assets/img/homeimg.jpg);
    background-size: cover;
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
  "
>
  <div
    class="jumbotron-text"
    style="margin-top: 20px; font-size: x-large; padding: 20px"
  >
    <h1>Hot, tasty food will reach you in 20mins.</h1>
    <p>
      Get your favourite food delivered in a flash. You’ll see when your rider’s
      picked up your order, and be able to follow them along the way. You’ll get
      a notification when they’re nearby, too.
    </p>
  </div>
</div>

<footer class="text-center text-white" style="background-color: #caced1">
  <div
    class="text-center text-dark p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2022 Copyright:
    <a class="text-dark" href="#">Developed by Group 1</a>
  </div>
</footer>
