
<div style="margin: 8% auto;" class="container">
<form #regForm="ngForm" (ngSubmit)="OnSubmit(regForm)">
        
    <div class="mb-3">
        <label for="product" class="form-label">Name </label>
        <input type="text" class="form-control" id="product"
        name="product"
        #product='ngModel' 
        ngModel 
        required>
        <span *ngIf="product.touched" style="color: red;">Please fill out this field</span>
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Type </label>
        <input type="text" class="form-control" id="type"
        name="type"
        #type='ngModel' 
        ngModel 
        required>
        <span *ngIf="type.touched" style="color: red;">Please fill out this field</span>
    </div>
    <div class="mb-3">
        <label for="about" class="form-label">About </label>
        <input type="text" class="form-control" id="about"
        name="about"
        #about='ngModel' 
        ngModel 
        required>
        <span *ngIf="about.touched" style="color: red;">Please fill out this field</span>
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value=false id="flexCheckDefault"
            name="avail" #avail='ngModel' ngModel>
            <label class="form-check-label" for="flexCheckDefault">Is available?</label>
        </div>
        <!-- <select class="form-control" name="availability" #availability="ngModel" ngModel required>
            <option value="" disabled selected><small>Choose availability</small></option>
            <option selected>Available</option>
        </select> -->
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price </label>
        <input type="number" class="form-control" id="price"
        name="price"
        #price='ngModel' 
        ngModel 
        required>
        <span *ngIf="price.touched" style="color: red;">Please fill out this field</span>
    </div>
      
    <button [disabled]="!regForm.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>