<p>manager-dashboard works!</p>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Avaialbility</th>
            <th scope="col">About </th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of result.data.foodProducts">
            
            <td>{{r.id}}</td>
            <td>{{r.name}}</td>
            <td>{{r.type}}</td>
            <td>{{r.avaialbility}}</td>
            <td>{{r.about}}</td>
            <td>{{r.price}}</td>
          </tr>
        </tbody>
      </table>
</div>