<div class="container">
  <div
    class="card text-center"
    style="
      margin-top: 20px;
      width: 50rem;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <h2>
      Happy to see you here! <br />
      Welcome!
    </h2>
    <div class="card-body">
      <img
        src="../../assets/img/img2.jpg"
        alt="Error Loading Image"
        height="200px"
      />
      <br /><br />
      <h2>Please Register Now !</h2>

      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Enter Your Name</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter your name here"
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Enter Your Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter your email address here"
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Enter your password here"
          />
        </div>

        <div class="form-group mb-3">
          <label for="exampleFormControlSelect1">Please Select Your Role</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Choose Role</option>
            <option>User</option>
            <option>Manager</option>
            <option>Staff</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Register Yourself</button>
      </form>
    </div>
  </div>
</div>
