<div
  class="jumbotron"
  style="
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../../assets/img/back.jpg);
    background-size: cover;
    height: 20vh;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
  "
>
  <div class="jumbotron-text" style="margin-top: 20px; font-size: x-large">
    <h2>
      {{ staff.name }}<br />
      {{ staff.email }}<br />
    </h2>
    <br /><br />
    <button
      type="button"
      class="btn btn-dark btn-lg btn-block"
      (click)="logout()"
    >
      Logout
    </button>
    <br /><br />
  </div>
<div class="container">
  <div class="orders" style="margin-top: 30px">
    <div class="input-group">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search for a particular Order"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <button type="button" class="btn btn-outline-primary">Find Order</button>
    </div>
    <br /><br />
    <button
      type="button"
      class="btn btn-info"
      [routerLink]="['/create-order']"
      style="width: 300px; font-size: xx-large"
    >
      Add Food Order
    </button>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <!-- ngFor in this div to repeat the cards -->
      <div class="col" *ngFor="let fo of allOrders.data">
        <div class="card">
          <div class="card-body">
            <img
              src="../../assets/img/order.jpg"
              class="card-img-top"
              alt="Error Loading Image"
              height="300px"
            />
            <h5 class="card-title">Order ID : {{ fo.id }}</h5>
            <h6>Name of the Customer : {{ fo.customerName }}</h6>
            <h6>Contact Number : {{ fo.contactNumber }}</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Total Amount of the Order : {{ fo.totalPrice }}
            </li>
            <li class="list-group-item">
              Created At : {{ fo.orderCreatedTime }}
            </li>
            <li class="list-group-item">
              Delivered At : {{ fo.orderDeliveryTime }}
            </li>
            <div
              class="card-footer text-success"
              style="text-align: center; font-size: xx-large"
            >
              {{ fo.status ? "Active" : "InActive" }}
            </div>
          </ul>

          <div class="card-body text-center">
            <button
              class="btn btn-info"
              style="width: 200px"
              [routerLink]="['/edit-order/', fo.id]"
            >
              Edit the Order
            </button>
            <br /><br />
            <button
              class="btn btn-danger"
              style="width: 200px"
              (click)="deleteFoodOrder(fo.id)"
            >
              Delete the Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
