<div class="container">
  <div
    class="card text-center"
    style="
      margin-top: 20px;
      width: 50rem;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <div class="card-body">
      <h2>Welcome Back User!</h2>
      <img
        src="../../assets/img/img1.png"
        alt="Error Loading Image"
        height="200px"
      />
      <h2>Login to your Account</h2>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Enter your Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Your email address goes here"
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Enter your Password</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Your password goes here"
        />
      </div>

      <button type="submit" class="btn btn-primary">
        Log In to your Account
      </button>
    </div>
  </div>
</div>
